body {
background-color:#F2F0ED;
width: 1280px;
margin: auto;
}

header {
position: relative;
background: #000;
width: 1280px;
height: 80px;
flex-shrink: 0;
}

.logo {
position: relative;
top: 2px;
left: 40px;
width: 90px;
}

h1{
position: relative;
top: -96px;
text-align: center;
color: #FAEBDC;
font-size: 40px;
font-family: 'Simonetta', serif;
font-weight: 400;
}

#ligne {
position: relative;
top: -125px;
background: #FAEBDC;
width: 764px;
height: 0.1px;
}


#PD {
position: relative;
top: -150px;
margin-left: 1080px;
color: #FAEBDC;
font-family: 'Simonetta',serif;
font-size: 20px;
font-weight: 400;
}

nav ul li a{
color:#FAEBDC;
background-color:#000;
display: flex;
width: 152px;
height: 50px;
flex-direction: column;
justify-content: center;
text-align: center;
font-family: 'Simonetta';
font-size: 20px;
letter-spacing: 2px;
margin-left:-50px;
margin-right:16px;
text-decoration: none;
}

nav ul li:nth-child(2) a {
color: #000;
background-color:#FAEBDC;
}

nav ul li:nth-child(3) a:hover {
background-color:  #242220;
}

nav ul li:nth-child(2) a:hover {
background-color:  #E0C7AF;
}

nav ul li:nth-child(1) a:hover {
background-color:#242220;
}

nav ul{
list-style: none;
}

nav ul li{
margin: 10px;
display: inline-block;
}

nav{
display: inline-block;
}

.carousel-container {
    position: relative;
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-left: 60px;
    margin-top: 125px;
}

.carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -100px;
}

.carousel-item .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#slide1.carousel-item img {
    width: 550px;
    height: 300px;
    margin-right: 20px;
    border: 10px solid #8D3807;
}

#slide1.carousel-item p.main-text {
    color: var(--Grey, #65635F);
    text-align: center;
    font:  20px/1 'Simonetta', serif;
    line-height: 24px;
}

#sous-ligne1 {
    width: 450px;
    margin-top: -15px;
    border: 0.5px solid #DBD9D8;
}

#sous-ligne2 {
    position: absolute;
     width: 450px;
    margin-top: -253px;
    margin-left: 633px;
    border: 0.5px solid #DBD9D8;
}

#slide1.carousel-item p.additional-text {
    color: var(--Grey, #65635F);
    text-align: justify;
    font: 400 20px/1 'Simonetta', serif;
    line-height: 24px;
    margin-left: 30px;
    width: 92%;
    padding-bottom: 25px;
}

#slide1.carousel-item h2.image-title {
    color: #000;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    position: absolute;
    margin-top: -340px;
    margin-left:120px;
}

#slide1.carousel-item .sub-text {
  color: #000;
font-family: Sora;
font-size: 20px;
line-height: 20px;
 margin-top: 370px;
 position: absolute;
 margin-left: 400px;
white-space:nowrap;
}

#slide2.carousel-item img {
    width: 528px;
    height: 300px;
    margin-right: 20px;
    border: 10px solid #8D3807;
    background: url(<path-to-image>), lightgray -41.751px -23px / 120.419% 115.646% no-repeat;
    margin-top: 40px;
}

#slide2.carousel-item p.main-text {
    color: var(--Grey, #65635F);
    text-align: center;
    position: absolute;
    font: 400 20px/1 'Simonetta', serif;
    line-height: 24px;
    width: 50%;
    margin-top:-275px;
    margin-left: 575px;
}

#slide2.carousel-item p.additional-text {
    color: var(--Grey, #65635F);
    text-align: justify;
    font: 400 20px/1 'Simonetta', serif;
    line-height: 24px;
    width: 540px;
    margin-top: 70px;
    margin-left: 30px;
}

#slide2.carousel-item h2.image-title {
    color: #000;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    position: absolute;
    margin-top: -300px;
    margin-left: 0px;
}

#slide2.carousel-item .sub-text {
  color: #000;
font-family: Sora;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 25px;
 margin-top: 410px;
 position: absolute;
 margin-left: 300px;
}

#slide1, #slide2 {
display: none;
}

#slide1:checked ~ .carousel #slide1,
#slide2:checked ~ .carousel #slide2 {
    display: flex;
}

#slide1:checked ~ .carousel #slide2 {
    display: none;
}


#slide2:checked ~ .carousel #slide1 {
    display: none;
}


.carousel-prev,
.carousel-next {
    position: absolute;
    margin-top: -100px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.carousel-prev {
    left: -50px;
    top: 200px;
    transform: translateY(-50%);
}

.carousel-next {
    left: 1180px;
    top: 200px;
    transform: translateY(-50%);
}

.populaire-item:hover .info-overlay {
    display: block;
}


.populaires-container {
    margin-top: -100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.populaires-container h2 {
  color: #000;
font-family: Sora;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
position: absolute;
margin-top: -120px;
margin-left: -950px;
}

.populaire-item {
    width: 200px;
    display: flex;
    flex-direction:column;
    align-items: justify;
    margin-top: -20px;
}


.populaire-item:nth-child(2) img {
z-index: 2;
  width: 100%;
  height: auto;
}

#prix1 {
width: 0;
z-index: 0;
position: relative;
top: -210px;
left: 70px;
color: #000;
font-family: Sora;
font-size: 25px;
}

.populaire-item:nth-child(2) img:hover {
z-index: 0;
opacity: 0;
}

.populaire-item:nth-child(3) img {
z-index: 2;
  width: 100%;
  height: auto;
  margin-top: 55px;
}

#prix2 {
width: 0;
z-index: 0;
position: relative;
top: -210px;
left: 65px;
color: #000;
font-family: Sora;
font-size: 25px;
}

.populaire-item:nth-child(3) img:hover {
z-index: 0;
opacity: 0;
}

.populaire-item:nth-child(4) img {
    z-index: 2;
  width: 210px;
  height: 350px;
  margin-top: 5.5px;
}

#prix3 {
width: 0;
z-index: 0;
position: relative;
top: -210px;
left: 70px;
color: #000;
font-family: Sora;
font-size: 25px;
}

.populaire-item:nth-child(4) img:hover {
z-index: 0;
opacity: 0;
}

.populaire-item.special-item img {
    z-index: 2;
    width: 250px; 
    margin-top: 182.5px;
margin-left: -20px;
}

#prix4 {
z-index: 0;
position: relative;
top: -125px;
left: 70px;
width: 0;
color: #000;
font-family: Sora;
font-size: 25px;
}

.populaire-item.special-item img:hover {
z-index: 0;
opacity: 0;
}

.populaire-item h3 {
  color: #000;
text-align: center;
font-family: Sora;
font-size: 15px;
 margin-top: -65px;
margin-left: 10px;
}

.populaire-item:nth-child(2) h3 {
margin-left: -8px;
}

.populaire-item:nth-child(4) h3 {
white-space: nowrap;
}

.populaire-item:nth-child(3) h3 {
margin-left: -3px;
}

.populaire-item.special-item h3 {
margin-left: 20px;
}

.populaire-item p.description {
color: var(--Grey, #65635F);
text-align: center;
font-family: Sora;
font-size: 14px;
 margin-top: -8px;
white-space: nowrap;
}

.populaire-item:nth-child(2) p.description {
margin-left: -10px;
}

.populaire-item:nth-child(3) p.description {
margin-left: -40px;
}

.populaire-item:nth-child(4) p.description {
margin-left: -2px;
}

.populaire-item.special-item p.description {
margin-left: 20px;
}


.populaire-item p.sous-texte {
  color: var(--Grey, #65635F);
  text-align: center;
font-family: Simonetta;
font-size: 14px;
 margin-top: -10px;
}

.populaire-item:nth-child(2) p.sous-texte {
margin-left: -15px;
}

.populaire-item:nth-child(3) p.sous-texte {
margin-left: -10px;
}

.populaire-item:nth-child(4) p.sous-texte {
margin-left: 5px;
}
    
.populaire-item.special-item p.sous-texte {
margin-left: 18px;
}
    
footer {
position: absolute;
margin-top: 570px;
width: 1280px;
height: 95px;
flex-shrink: 0;
background: #000;
}

#titres, #localisation, #contact {
color: #FAEBDC;
font-family: 'Simonetta';
}

#titres {
width: 1030px;
margin-top: 5px;
margin-left: 250px;
font-size: 18px;
word-spacing: 350px;
letter-spacing: 1.8px
}

#localisation {
display: flex;
flex-shrink: 0;
margin-left: 230px;
font-size: 15px;
letter-spacing: 1.6px;
}

#contact {
display: flex;
flex-shrink: 0;
margin-left: 720px;
margin-top: -50px;
font-size: 15px;
letter-spacing: 1.6px;
}


@media only screen and (max-width: 768px) and (max-height: 1024px) {


  body {
  max-width: 768px;
  margin: auto;
    }

  header {
  position: relative;
  background: #000;
  width: 768px;
  height: 70px;
  flex-shrink: 0;
  }

  .logo {
  position: relative;
  top: 8px;
  left: 20px;
  width: 65px;
  }

  h1{
  position: relative;
  margin-left: 10px;
  top: -55px;
  text-align: center;
  color: #FAEBDC;
  font-size: 25px;
  font-family: 'Simonetta', serif;
  }

  #ligne {
  position: relative;
  top: -70px;
  background: #FAEBDC;
  width: 350px;
  height: 0.1px;
  }

  #PD {
  position: relative;
  top: -85px;
  margin-left: 650px;
  color: #FAEBDC;
  font-family: 'Simonetta',serif;
  font-size: 12px;
  font-weight: 400;
  }

nav ul li a{
position: relative;
color:#FAEBDC;
background-color:#000;
display: flex;
width: 100px;
height: 40px;
flex-direction: column;
justify-content: center;
text-align: center;
font-family: 'Simonetta';
font-size: 15px;
letter-spacing: 1px;
margin-left:-45px;
left: -10px;
margin-right:16px;
text-decoration: none;
}

nav ul li:nth-child(2) a {
color: #000;
background-color:#FAEBDC;
}

nav ul li:nth-child(3) a:hover {
background-color:  #242220;
}

nav ul li:nth-child(2) a:hover {
background-color:  #E0C7AF;
}

nav ul li:nth-child(1) a:hover {
background-color:#242220;
}

nav ul{
list-style: none;
}

nav ul li{
margin: 10px;
display: inline-block;
}

nav{
display: inline-block;
}


.carousel-container {
   position: relative;
   width: 80%;
   height: 100vh;
   margin: auto;
   display: flex;
   justify-content: center;
   margin-left: 50px;
   margin-top: -500px;
}

.carousel {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.carousel-item .content {
   position: absolute;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#slide1.carousel-item img {
   max-width: 90%;
   margin-top:100px;
margin-left:30px;
   border: 10px solid #8D3807;
background: url(<path-to-image>), lightgray -41.751px -23px / 120.419% 115.646% no-repeat;
position:absolute;
}

#slide1.carousel-item p.main-text {
 color: var(--Grey, #65635F);
    text-align: center;
    font: 400 20px/1 'Simonetta', serif;
    line-height: 24px;
    width: 100%;
   padding-top:1000px;
   margin-left: 15px;
border-bottom: 1px solid #ddd;
}

#slide1.carousel-item p.additional-text {
   color: var(--Grey, #65635F);
   text-align: justify;
   font: 400 20px/1 'Simonetta', serif;
   line-height: 24px;
   margin-left: 30px;
   width: 95%
}

#slide1.carousel-item h2.image-title {
   color: #000;
   font-family: Sora;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 48px;
   margin-top: -250px;
   margin-left:175px;
}

#slide1.carousel-item .sub-text {
 color: #000;
font-family: Sora;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 25px;
margin-top: 480px;
position: absolute;
margin-left: 480px;
white-space:nowrap
}

#slide2.carousel-item img {
 max-width: 90%;
   margin-top:120px;
margin-left:30px;
   border: 10px solid #8D3807;
background: url(<path-to-image>), lightgray -41.751px -23px / 120.419% 115.646% no-repeat;
position:absolute;
}

#slide2.carousel-item p.main-text {
 color: var(--Grey, #65635F);
 text-align: center;
 font: 400 20px/1 'Simonetta', serif;
 line-height: 24px;
 width: 100%;
padding-top:1000px;
margin-left: 15px;
border-bottom: 1px solid #ddd;
}


#slide2.carousel-item p.additional-text {
 color: var(--Grey, #65635F);
   text-align: justify;
   font: 400 20px/1 'Simonetta', serif;
   line-height: 24px;
   margin-left: 30px;
margin-top: 1100px;
   width: 95%
}


#slide2.carousel-item h2.image-title {
color: #000;
   font-family: Sora;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 48px;
  margin-top:-220px;
   margin-left:70px;
width: 95%
}


#slide2.carousel-item .sub-text {
color: #000;
font-family: Sora;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 25px;
margin-top: 490px;
position: absolute;
margin-left: 390px;
width: 50%;
}

#slide1, #slide2 {
display: none;
}

#slide1:checked ~ .carousel #slide1,
#slide2:checked ~ .carousel #slide2 {
   display: flex;
}

#slide1:checked ~ .carousel #slide2 {
   display: none;
}

#slide2:checked ~ .carousel #slide1 {
   display: none;
}


.carousel-prev,
.carousel-next {
   top: 0%;
   font-size: 30px;
   background: none;
   border: none;
   cursor: pointer;
   outline: none;
}

.carousel-prev {
   left:  -2px;
   top:  770px;
   transform: translateY(-50%);
}

.carousel-next {
   left: 620px;
   top: 770px;
   transform: translateY(-50%);
}


.populaires-container {
   margin-top: 700px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-around;
}

.populaires-container h2 {
 color: #000;
font-family: Sora;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
position: absolute;
margin-top: -300px;
margin-left: 0px
}

.populaire-item:nth-child(2) img {
width:130%;
height: auto;
margin-top:-250px;
margin-left: 60px;
}

.populaire-item:nth-child(3) img {
 width: 115%;
 height: auto;
 margin-top: -220px;
margin-left:240px;
}

.populaire-item:nth-child(4) img {
 width: 130%;
 height: auto;
 margin-top: 260px;
margin-left:60px;
}

.populaire-item.special-item img {
   width: 180%;
   height: auto;
   margin-top: 310px;
margin-left: -550px;

}


.populaire-item:nth-child(2) h3 {
 color: #000;
text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px;
margin-right:-125px;
margin-top:10px;
}

.populaire-item:nth-child(2) .description {
 color: var(--Grey, #65635F);
 text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12px;
width:120%;
margin-left:-10px;

}

.populaire-item:nth-child(2) .sous-texte {
 color: var(--Grey, #65635F);
 text-align: center;
font-family: Simonetta;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
width:150%;
margin-left:-10px;
}

.populaire-item:nth-child(3) h3 {
 color: #000;
text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px;
margin-right:-272px;
margin-top:10px;
}

.populaire-item:nth-child(3) .description {
 color: var(--Grey, #65635F);
 text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 10px;
width:120%;
margin-left:220px;

}

.populaire-item:nth-child(3) .sous-texte {
 color: var(--Grey, #65635F);
 text-align: center;
font-family: Simonetta;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
width:150%;
margin-left:140px;
}

.populaire-item:nth-child(4) h3 {
 color: #000;
text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px;
margin-top:10px;
 margin-left:-60px;
 width:150%;
}

.populaire-item:nth-child(4) .description {
 color: var(--Grey, #65635F);
 text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 10px;
width:150%;
margin-left:-40px;

}

.populaire-item:nth-child(4) .sous-texte {
 color: var(--Grey, #65635F);
 text-align: center;
font-family: Simonetta;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
width:150%;
margin-left:-9px;
}

 .populaire-item.special-item h3 {
 color: #000;
text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px;
margin-top:10px;
 margin-left:-700px;
 width:150%;
}

.populaire-item.special-item .description {
 color: var(--Grey, #65635F);
 text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 10px;
width:150%;
margin-left:-696px;

}

.populaire-item.special-item .sous-texte {
 color: var(--Grey, #65635F);
 text-align: center;
font-family: Simonetta;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
width:150%;
margin-left:-615px;
margin-top:4px;
}

footer {
position: absolute;
margin-top: 820px;
width: 768px;
height: 100px;
flex-shrink: 0;
background: #000;
}

#titres, #localisation, .contact {
color: #FAEBDC;
font-family: 'Simonetta';
}

#titres {
width: 500px;
margin-top: 10px;
margin-left: 200px;
font-size: 16px;
word-spacing: 140px;
letter-spacing: 1.8px
}

#localisation {
display: flex;
flex-shrink: 0;
margin-top: 0px;
margin-left: 180px;
font-size: 10px;
letter-spacing: 1px;
}

#contact {
flex-shrink: 0;
margin-left: 480px;
margin-top: -30px;
font-size: 10px;
letter-spacing: 1px;
list-style: none;
}
}

@media only screen and (max-width: 600px) and (max-height: 960px) {

  body {
max-width: 600px;
margin: auto;
  }

header {
position: relative;
background: #000;
width: 600px;
height: 70px;
flex-shrink: 0;
}

.logo {
position: relative;
top: 8px;
left: 20px;
width: 65px;
}

h1{
position: relative;
margin-left: 10px;
top: -55px;
text-align: center;
color: #FAEBDC;
font-size: 25px;
font-family: 'Simonetta', serif;
}

#ligne {
position: relative;
top: -70px;
background: #FAEBDC;
width: 350px;
height: 0.1px;
}

#PD {
position: relative;
top: -85px;
margin-left: 490px;
color: #FAEBDC;
font-family: 'Simonetta',serif;
font-size: 12px;
font-weight: 400;
}

nav ul li a{
position: relative;
color:#FAEBDC;
background-color:#000;
display: flex;
width: 100px;
height: 40px;
flex-direction: column;
justify-content: center;
text-align: center;
font-family: 'Simonetta';
font-size: 15px;
letter-spacing: 1px;
margin-left:-45px;
left: -10px;
margin-right:16px;
text-decoration: none;
}

nav ul li:nth-child(2) a {
color: #000;
background-color:#FAEBDC;
}

nav ul li:nth-child(3) a:hover {
background-color:  #242220;
}

nav ul li:nth-child(2) a:hover {
background-color:  #E0C7AF;
}

nav ul li:nth-child(1) a:hover {
background-color:#242220;
}

nav ul{
list-style: none;
}

nav ul li{
margin: 10px;
display: inline-block;
}

nav{
display: inline-block;
}


.carousel-container {
    position: relative;
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: -500px;
}

.carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.carousel-item .content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#slide1.carousel-item img {
    max-width: 90%;
    margin-top:100px;
 margin-left:30px;
    border: 10px solid #8D3807;
 background: url(<path-to-image>), lightgray -41.751px -23px / 120.419% 115.646% no-repeat;
 position:absolute;
}

#slide1.carousel-item p.main-text {
  color: var(--Grey, #65635F);
     text-align: center;
     font: 400 20px/1 'Simonetta', serif;
     line-height: 24px;
     width: 100%;
    padding-top:1000px;
    margin-left: 15px;
 border-bottom: 1px solid #ddd;
 }

#slide1.carousel-item p.additional-text {
    color: var(--Grey, #65635F);
    text-align: justify;
    font: 400 20px/1 'Simonetta', serif;
    line-height: 24px;
    margin-left: 30px;
    width: 95%
}

#slide1.carousel-item h2.image-title {
    color: #000;
    font-family: Sora;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    padding-top:50px;
    margin-left:140px;
}

#slide1.carousel-item .sub-text {
  color: #000;
font-family: Sora;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px;
 margin-top: 405px;
 position: absolute;
 margin-left: 380px;
 white-space:nowrap
}

#slide2.carousel-item img {
  max-width: 90%;
    margin-top:120px;
 margin-left:30px;
    border: 10px solid #8D3807;
 background: url(<path-to-image>), lightgray -41.751px -23px / 120.419% 115.646% no-repeat;
 position:absolute;
}

#slide2.carousel-item p.main-text {
  color: var(--Grey, #65635F);
  text-align: center;
  font: 400 20px/1 'Simonetta', serif;
  line-height: 24px;
  width: 100%;
 padding-top:1000px;
 margin-left: 15px;
border-bottom: 1px solid #ddd;
}


#slide2.carousel-item p.additional-text {
  color: var(--Grey, #65635F);
    text-align: justify;
    font: 400 20px/1 'Simonetta', serif;
    line-height: 24px;
    margin-left: 30px;
 margin-top: 1100px;
    width: 95%
}


#slide2.carousel-item h2.image-title {
 color: #000;
    font-family: Sora;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    padding-top:60px;
    margin-left:50px;
 width: 95%
}


#slide2.carousel-item .sub-text {
 color: #000;
font-family: Sora;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px;
 margin-top: 410px;
 position: absolute;
 margin-left: 297px;
 width: 50%;
}

#slide1, #slide2 {
display: none;
}

#slide1:checked ~ .carousel #slide1,
#slide2:checked ~ .carousel #slide2 {
    display: flex;
}

#slide1:checked ~ .carousel #slide2 {
    display: none;
}

#slide2:checked ~ .carousel #slide1 {
    display: none;
}


.carousel-prev,
.carousel-next {
    top: 0%;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.carousel-prev {
    left: 1px;
    top:  770px;
    transform: translateY(-50%);
}

.carousel-next {
    left: 495px;
    top: 770px;
    transform: translateY(-50%);
}


.populaires-container {
    margin-top: 800px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.populaires-container h2 {
  color: #000;
font-family: Sora;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
position: absolute;
margin-top: -300px;
margin-left: 0px
}


.populaire-item:nth-child(2) img {
  width: 180%;
  height: auto;
 margin-top:-250px;
 margin-left: 30px;
}

.populaire-item:nth-child(3) img {
  width: 115%;
  height: auto;
  margin-top: -220px;
 margin-left:190px;
}

.populaire-item:nth-child(4) img {
  width: 170%;
  height: auto;
  margin-top: 260px;
 margin-left:20px;
}

.populaire-item.special-item img {
    width: 240%;
    height: auto;
    margin-top: 300px;
margin-left: -450px;

}


.populaire-item:nth-child(2) h3 {
  color: #000;
text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px;
 margin-right:-150px;
 margin-top:20px;
}

.populaire-item:nth-child(2) .description {
  color: var(--Grey, #65635F);
  text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 10px;
 width:120%;
 margin-left:25px;

}

.populaire-item:nth-child(2) .sous-texte {
  color: var(--Grey, #65635F);
  text-align: center;
font-family: Simonetta;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
 width:150%;
 margin-left:0px;
}

 .populaire-item:nth-child(3) h3 {
  color: #000;
text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px;
 margin-right:-225px;
 margin-top:20px;
}

.populaire-item:nth-child(3) .description {
  color: var(--Grey, #65635F);
  text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 10px;
 width:120%;
 margin-left:176px;

}

.populaire-item:nth-child(3) .sous-texte {
  color: var(--Grey, #65635F);
  text-align: center;
font-family: Simonetta;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
 width:150%;
 margin-left:95px;
}

 .populaire-item:nth-child(4) h3 {
  color: #000;
text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px;
 margin-top:20px;
  margin-left:-19px;
  width:150%;
}

.populaire-item:nth-child(4) .description {
  color: var(--Grey, #65635F);
  text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 10px;
 width:150%;
 margin-left:0px;

}

.populaire-item:nth-child(4) .sous-texte {
  color: var(--Grey, #65635F);
  text-align: center;
font-family: Simonetta;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
 width:150%;
 margin-left:-9px;
}

  .populaire-item.special-item h3 {
  color: #000;
text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px;
 margin-top:20px;
  margin-left:-520px;
  width:150%;
}

.populaire-item.special-item .description {
  color: var(--Grey, #65635F);
  text-align: right;
font-family: Sora;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 10px;
 width:150%;
 margin-left:-515px;

}

.populaire-item.special-item .sous-texte {
  color: var(--Grey, #65635F);
  text-align: center;
font-family: Simonetta;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
 width:150%;
 margin-left:-476px;
 margin-top:4px;
}

footer {
position: absolute;
margin-top: 800px;
width: 600px;
height: 80px;
flex-shrink: 0;
background: #000;
}

#titres, #localisation, .contact {
color: #FAEBDC;
font-family: 'Simonetta';
}

#titres {
width: 500px;
margin-top: 5px;
margin-left: 100px;
font-size: 16px;
word-spacing: 140px;
letter-spacing: 1.8px
}

#localisation {
display: flex;
flex-shrink: 0;
margin-top: 10px;
margin-left: 80px;
font-size: 10px;
letter-spacing: 1px;
}

#contact {
flex-shrink: 0;
margin-left: 375px;
margin-top: -38px;
font-size: 10px;
letter-spacing: 1px;
list-style: none;
}
}

@media only screen and (max-width: 360px) and (max-height: 640px) {

  body {
  max-width: 360px;
  margin: auto;
     }

  header {
  position: relative;
  background: #000;
  margin-left: -48px;
  width: 408px;
  height: 40px;
  flex-shrink: 0;
  }

  .logo {
  position: relative;
  top: 3px;
  left: 60px;
  width: 40px;
  }

  h1{
  position: relative;
  top: -38px;
  margin-left: 50px;
  color: #FAEBDC;
  font-size: 15px;
  font-family: 'Simonetta', serif;
  }

  #ligne {
  position: relative;
  text-align: center;
  top: -48px;
  left: 22px;
  background: #FAEBDC;
  width: 210px;
  height: 0.1px;

  }

  #PD {
  position: relative;
  top: -56px;
  margin-left: 342px;
  color: #FAEBDC;
  font-family: 'Simonetta',serif;
  font-size: 7px;
  font-weight: 400;
  }

  nav ul li a{
  position: relative;
  color:#FAEBDC;
  background-color:#000;
  display: flex;
  width: 58px;
  height: 18px;
  flex-direction: column;
  font-family: 'Simonetta';
  font-size: 8px;
  letter-spacing: 1px;
  top: -15px;
  margin-left:-42px;
  left: -10px;
  text-decoration: none;
  }

  nav ul li:nth-child(2) a {
  color: #000;
  background-color:#FAEBDC;
  }

  nav ul li:nth-child(3) a:hover {
  background-color:  #242220;
  }

  nav ul li:nth-child(2) a:hover {
  background-color:  #E0C7AF;
  }

  nav ul li:nth-child(1) a:hover {
  background-color:#242220;
  }

  nav ul{
  list-style: none;
  }

  nav ul li{
  margin: 12px;
  display: inline-block;
  }

  nav{
  display: inline-block;
  }

  .carousel-container {
      position: relative;
      width: 80%;
      height: 100vh;
      margin: auto;
      display: flex;
      justify-content: center;
      margin-left: 5px;
      margin-top: -800px;
  }

  .carousel {
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  .carousel-item .content {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  #slide1.carousel-item img {
      margin-top:350px;
   margin-left:30px;
      border: 10px solid #8D3807;
   background: url(<path-to-image>), lightgray -41.751px -23px / 120.419% 115.646% no-repeat;
   position:absolute;
  }

  #slide1.carousel-item p.main-text {
    color: var(--Grey, #65635F);
       text-align: center;
       font: 400 15px/1 'Simonetta', serif;
       line-height: px;
      padding-top:1090px;
      margin-left: 30px;
   border-bottom: 1px solid #ddd;
   }

  #slide1.carousel-item p.additional-text {
      color: var(--Grey, #65635F);
      text-align: justify;
      font: 400 15px/1 'Simonetta', serif;
      line-height: 20px;
      margin-left: 30px;
   margin-top: -10px;
  }

  #slide1.carousel-item h2.image-title {
      color: #000;
      font-family: Sora;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 48px;
      margin-top:10px;
      margin-left:75px;
   white-space:nowrap;
  }

  #slide1.carousel-item .sub-text {
    color: #000;
  font-family: Sora;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
   margin-top: 550px;
   position: absolute;
   margin-left: 218px;
   white-space:nowrap;
  }

  #slide2.carousel-item img {
   margin-top:400px;
   margin-left:20px;
      border: 10px solid #8D3807;
   background: url(<path-to-image>), lightgray -41.751px -23px / 120.419% 115.646% no-repeat;
   position:absolute;
  }

  #slide2.carousel-item p.main-text {
    color: var(--Grey, #65635F);
       font: 400 15px/1 'Simonetta', serif;
       line-height: 2px;
      padding-top:1100px;
      margin-left: 20px;
   border-bottom: 1px solid #ddd;
   }

  #slide2.carousel-item p.additional-text {
     color: var(--Grey, #65635F);
      font: 400 15px/1 'Simonetta', serif;
   width: 280px;
      line-height: 20px;
      padding-left: -10px;
   margin-top:1150px;
  }


  #slide2.carousel-item h2.image-title {
    color: #000;
      font-family: Sora;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 48px;
      margin-top:50px;
      margin-left:15px;
   white-space:nowrap;
  }


  #slide2.carousel-item .sub-text {
    color: #000;
  font-family: Sora;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
   margin-top: 600px;
   position: absolute;
   margin-left: 160px;
   white-space:nowrap;
  }

  #slide1, #slide2, #slide3 {
  display: none;
  }

  #slide1:checked ~ .carousel #slide1,
  #slide2:checked ~ .carousel #slide2,
  #slide3:checked ~ .carousel #slide3 {
      display: flex;
  }

  #slide1:checked ~ .carousel #slide2,
  #slide2:checked ~ .carousel #slide3,
  #slide3:checked ~ .carousel #slide1 {
      display: none;
  }

  #slide1:checked ~ .carousel #slide3,
  #slide2:checked ~ .carousel #slide1,
  #slide3:checked ~ .carousel #slide2 {
      display: none;
  }


  .carousel-prev,
  .carousel-next {
      top: 0%;
      font-size: 20px;
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
  }

  .carousel-prev {
      left: 1px;
      top:  950px;
      transform: translateY(-50%);
  }

  .carousel-next {
      left: 330px;
      top: 950px;
      transform: translateY(-50%);
  }


  .populaires-container h2 {
        color: #000;
      font-family: Sora;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      position: absolute;
      margin-top: 70px;
      margin-left: 0px
      }

      .populaire-item:nth-child(2) img {
        max-width: 122px;
    height: 221px;
       margin-top:130px;
       margin-left: 20px;
      }

      .populaire-item:nth-child(3) img {

        max-width: 119px;
        height: 181px;
        margin-top: 110px;
       margin-left:120px;
      }

      .populaire-item:nth-child(4) img {
        max-width: 123px;
    height: 176px;
        margin-top: 350px;
       margin-left:-10px;
      }

      .populaire-item.special-item img {
         max-width: 184.968px;
    height: 142.93px;
    flex-shrink: 0;
          margin-top: 410px;
      margin-left: -277px;

      }


      .populaire-item:nth-child(2) h3 {
       color: #000;
     font-family: Sora;
     font-size: 8px;
     font-style: normal;
     font-weight: 600;
     line-height: 3px;
      margin-top:10px;
      white-space:nowrap;
       margin-right:-125px;

     }

     .populaire-item:nth-child(2) .description {
       color: var(--Grey, #65635F);
      width:200%;
      text-align: right;
     font-family: Sora;
      font-size: 9px;
     font-weight: 400;
     line-height: 10px;
      margin-left:10px;

     }

     .populaire-item:nth-child(2) .sous-texte {
       color: var(--Grey, #65635F);
       text-align: center;
     font-family: Simonetta;
     font-size: 9px;
     font-style: normal;
     font-weight: 400;
      line-height:4px;
      width:190%;
      margin-left:3px;
     }

       .populaire-item:nth-child(3) h3 {
        color: #000;
      text-align: right;
      font-family: Sora;
      font-size: 8px;
      font-style: normal;
      font-weight: 600;
      line-height: 12px;
       margin-right:-129px;
       margin-top:4px;
        white-space:nowrap;
      }

      .populaire-item:nth-child(3) .description {
        color: var(--Grey, #65635F);
        text-align: right;
      font-family: Sora;
      font-size: 8px;
        line-height:1px;
      font-style: normal;
      font-weight: 400;
       margin-left:94px;

      }

      .populaire-item:nth-child(3) .sous-texte {
        color: var(--Grey, #65635F);
        text-align: center;
      font-family: Simonetta;
      font-size: 8px;
      font-style: normal;
      font-weight: 400;
      line-height: 10px;
       margin-left:40px;
      }

       .populaire-item:nth-child(4) h3 {
        color: #000;
      text-align: right;
      font-family: Sora;
      font-size: 8px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
       margin-top:0px;
        margin-left:-42px;
      }

      .populaire-item:nth-child(4) .description {
        color: var(--Grey, #65635F);
       white-space:nowrap;
        text-align: right;
      font-family: Sora;
      font-size: 8px;
      font-style: normal;
      font-weight: 400;
      line-height: 10px;
       margin-left:-28px;
       margin-top:-8px;

      }

      .populaire-item:nth-child(4) .sous-texte {
        color: var(--Grey, #65635F);
        text-align: center;
      font-family: Simonetta;
      font-size: 8px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
       margin-left:-39px;
       margin-top:-6px;
      }

        .populaire-item.special-item h3 {
        color: #000;
      text-align: right;
      font-family: Sora;
      font-size: 8px;
      font-style: normal;
      font-weight: 600;
      line-height: 10px;
       margin-top:2px;
        margin-left:-283px;
      }

      .populaire-item.special-item .description {
        color: var(--Grey, #65635F);
        text-align: right;
      font-family: Sora;
      font-size: 8px;
      font-style: normal;
      font-weight: 400;
      line-height: 2px;
       margin-left:-279px;

      }

      .populaire-item.special-item .sous-texte {
        color: var(--Grey, #65635F);
        text-align: center;
      font-family: Simonetta;
      font-size: 8px;
      font-style: normal;
      font-weight: 400;
      line-height: 10px;
       width:150%;
       margin-left:-280px;
       margin-top:1px;
      }

  footer {
  position: absolute;
  margin-top: 700px;
  margin-left: -50px;
  width: 408px;
  height: 48px;
  flex-shrink: 0;
  background: #000;
  }

  #titres, #localisation, #contact {
  color: #FAEBDC;
  font-family: 'Simonetta';
  }

  #titres {
  width: 310px;
  margin-top: 3px;
  margin-left: 100px;
  font-size: 10px;
  word-spacing: 90px;
  letter-spacing: 1.8px;
  }

  #localisation {
  display: flex;
  flex-shrink: 0;
  margin-left: 90px;
  margin-top: -1.5px;
  font-size: 7px;
  letter-spacing: 1px;
  }

  #contact {
  flex-shrink: 0;
  margin-left: 280px;
  margin-top: -22px;
  font-size: 7px;
  letter-spacing: 1px;
  }
  }
