body {
background-color:#F2F0ED;
}

header {
position: relative;
background: #000;
width: 1280px;
height: 80px;
flex-shrink: 0;
}

.logo {
position: relative;
top: 2px;
left: 40px;
width: 90px;
}

h1{
position: relative;
top: -96px;
text-align: center;
color: #FAEBDC;
font-size: 40px;
font-family: 'Simonetta', serif;
font-weight: 400;
}

#ligne {
position: relative;
top: -125px;
background: #FAEBDC;
width: 764px;
height: 0.1px;
}

#PD {
position: relative;
top: -150px;
left: 1085px;
color: #FAEBDC;
font-family: 'Simonetta',serif;
font-size: 20px;
font-weight: 400;
}

nav{
display: inline-block;
}

nav ul{
list-style: none;
}

nav ul li {
margin: 10px;
display: inline-block;
}

nav ul li a {
display: flex;
width: 152px;
height: 50px;
flex-direction: column;
justify-content: center;
text-align: center;
color: #FAEBDC;
background: #000;
font-family: 'Simonetta';
font-size: 20px;
letter-spacing: 2px;
margin-left: -50px;
margin-right: 16px;
}

nav ul li:nth-child(2) a {
color: #000;
background: #FAEBDC;
}

#oeuvre-accueil {
margin-top: -80px;
}

#titre {
position: absolute;
margin-top: 110px;
margin-left: 180px;
font-size: 20px;
font-family: 'Sora';
font-weight: bold;
letter-spacing: 2px;
}

.accueil {
margin-left: 35px;
margin-right: 530px; 
margin-top: 140px;
width: 715px;
height: 327px;
flex-shrink: 0;
border: 10px solid #7A4938;
}

#peintre {
position: absolute;
margin-top: 1px;
margin-left: 565px;
font-size: 20px;
font-family: 'Sora';
font-weight: 400;
letter-spacing: 2px;
}

#texte {
margin-top: -330px;
margin-left: 830px;
font-family: 'Simonetta';
text-align: justify;
font-size: 20px;
color: #65635F;
letter-spacing: 2px;
}

#Dechewsky {
height: 530px;
flex-shrink: 0;
background: rgba(229, 214, 199, 0.66);
padding: 1px 20px 15px;
margin-top: 200px;
margin-right: 310px;
margin-left: 80px;
color: #000;
text-align: justify;
font-family: 'Simonetta';
font-size: 22px;
font-style: normal;
line-height: normal;
letter-spacing: 2px;
}

.pd {
position: absolute;
margin-left: 880px;
margin-top: -620px;
width: 210px;
height: 347px;
flex-shrink: 0;
 }

#fond {
width: 210px;
height: 310px;
border: 2px solid #000;
background: rgba(144, 103, 62, 0.66);
margin-top: -585px;
margin-left: 878px;
}

.signature {
position: absolute;
margin-left: 907px;
margin-top: -260px;
width: 160px;
    }

footer {
position: absolute;
margin-top: 100px;
width: 1280px;
height: 95px;
flex-shrink: 0;
background: #000;
}

#titres, #localisation, #contact {
color: #FAEBDC;
font-family: 'Simonetta';
}

#titres {
margin-top: 5px;
margin-left: 250px;
font-size: 18px;
word-spacing: 350px;
letter-spacing: 1.8px
}

#localisation {
display: flex;
flex-shrink: 0;
margin-left: 230px;
font-size: 15px;
letter-spacing: 1.6px;
}

#contact {
display: flex;
flex-shrink: 0;
margin-left: 720px;
margin-top: -50px;
font-size: 15px;
letter-spacing: 1.6px;
}
