body {
    background-color:#F2F0ED;
}

header {
position: relative;
background: #000;
width: 1280px;
height: 80px;
flex-shrink: 0;
}

.logo {
position: relative;
top: 2px;
left: 40px;
width: 90px;
}

h1{
position: relative;
top: -96px;
text-align: center;
color: #FAEBDC;
font-size: 40px;
font-family: 'Simonetta', serif;
font-weight: 400;
}

#ligne {
position: relative;
top: -125px;
background: #FAEBDC;
width: 764px;
height: 0.1px;
}

#PD {
position: relative;
top: -150px;
left: 1085px;
color: #FAEBDC;
font-family: 'Simonetta',serif;
font-size: 20px;
font-weight: 400;
}

nav ul li a{
color:#FAEBDC;
background-color:#000;
display: flex;
width: 152px;
height: 50px;
flex-direction: column;
justify-content: center;
text-align: center;
font-family: Simonetta;
font-size: 20px;
letter-spacing: 2px;
margin-left:-50px;
margin-right:16px;
}

nav ul li:nth-child(2) a {
color: #000;
background-color:#FAEBDC;
}

nav ul{
list-style: none;
}

nav ul li{
margin: 10px;
display: inline-block;
}

nav{
display: inline-block;
}

.lieu{
width: 464px;
height: 202px;
flex-shrink: 0;
border: 10px solid #000;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
margin-left:30px;
}

h3{
width: 450px;
height: 29px;
flex-shrink: 0;
color: #000;
text-align: justify;
font-family: Playfair Display;
font-size: 20px;
font-style: normal;
line-height: normal;
margin-left:60px;
}

p{
width: 519px;
height: 173px;
flex-shrink: 0;
color: #000;
text-align: justify;
font-family: Simonetta;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left:15px;

}

.salon{
width: 432px;
height: 242px;
flex-shrink: 0;
border: 10px solid #7A4938;
background: url(<path-to-image>), lightgray -23.955px 0px / 111.09% 111.57% no-repeat;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-left:155px;
margin-top:-70px;
}

#suite{
margin-left:820px;
padding-bottom:700px;
margin-top:-700px;
font-weight:900;
font-family: Playfair Display;
}

tab{
color: #000;
font-family: Playfair Display;
font-weight:bold;
font-size: 14px;
font-style: normal;
line-height: normal; 
border-collapse: collapse;
}

form {
width:175px;
margin-left:680px;
margin-top:-830px;
}

input{
text-align: left;
color: #000;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
border: 1px solid #000;
}

input[type="text"]{
width: 550px;
height: 40px;
flex-shrink: 0;
margin-top:15px;
}

input[type="textS"]{
width:550px;
height:100px;
margin-top:15px;
}

form td, form input{
margin-bottom:40px;
}

form td, form select{
margin-bottom:40px;
margin-top:15px;
}

#categories{
width: 558px;
height: 50px;
box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
border: 1px solid #000;
}

#soumettre{
margin-top:10px;
text-align:center;
background-color: #000;
color: #FFFF;
width:558px;
height: 40px;
}

#soumettre:hover{
color: #D3D3D3; 
}

option,select{
color: #000;
text-align: left;
}

footer{
position: absolute;
margin-top: 120px;
width: 1280px;
height: 95px;
flex-shrink: 0;
background: #000;
}

#titres, #localisation, #contact {
color: white;
font-family: 'Simonetta';
}

#titres{
margin-top: 5px;
margin-left: 250px;
font-size: 18px;
letter-spacing: 1.8px;
word-spacing: 270px
}

#localisation{
display: flex;
flex-shrink: 0;
margin-left: 230px;
font-size: 15px;
letter-spacing: 1.6px;
margin-top: -140px;
}

#contact{
display: flex;
flex-shrink: 0;
margin-left: 720px;
margin-top: -210px;
font-size: 15px;
letter-spacing: 1.6px;
}